@charset "utf-8";

/*두번째페이지(About.html)용 스타일 */



/* 오른쪽 전체 박스 */
#sec1{
    margin-left:200px;
    display: flex;
}

#container>h1 {
    font-size:2.5rem;
    padding:20px 0;
}


#container>p {
    padding:10px 0;
}

.outbox { width:100%; display: flex; align-items: center }

.inbox {
    width:calc((100% - 20px) / 3);
    margin-right:10px;

}

.inbox:last-child { margin-right:0 }


.inbox>img{
    width:100%; display:block;
    margin-top:30px;
}


.inbox>h2 {
    font-size:2rem;
    padding:20px 0;
}

.inbox>p {
    padding:10px 0;
}


.button{

    font-size:1.2rem;
    border:none; border-radius:15px;
    background-color:red; color:white;
    
    margin:20px 0px;
    padding:10px;
    cursor:pointer;
}

.button:hover{  /* 버튼2에 닿으면 애니메이션 재생 */
        animation: blink 1s infinite linear;
    }

    /* 버튼용 애니메이션 */    
    @keyframes blink{
        from { background:purple }
        50% { background: orange }
        to { background:purple }
    }
    


/* 모바일용 메뉴 펼침 버튼 */
#view {
    width:40px;
    line-height: 50px;
    font-size: 2.5rem;
    border:none;
    border-radius: 10px;
    background:rgba(198,60,63,.9);
    color:#fff;
    cursor: pointer;
    display:none;
}

#sec1>p { display: none}

#sec1>p>a { text-decoration: none; color:black }


/*---------- 해상도 800px 이하일때 ----------*/
@media screen and (max-width:800px){
    .outbox { flex-wrap: wrap }
    
    .inbox {
        width:50%;
        margin-right:0px;
    }
    
}  /* @media screen */


/*---------- 해상도 700px 이하일때 ----------*/
@media screen and (max-width:700px){
    .inbox {
        width:80%;
        margin-right:0px;
    }
    
}  /* @media screen */





/*---------- 해상도 500px 이하일때 ----------*/
@media screen and (max-width:500px){

    #sec1 { 
        width:100%;
        flex-wrap: wrap;
        align-items: center;
        margin-left:0px;
        margin-top: 10px;
    }
    
    #view { 
        width:10%;
        line-height: 35px;
        margin-left: 10px;
        font-size: 2rem;
        display: block; 
    }
    

    #sec1>p { 
        margin:0 20px;
        display: block;
    }
    
    #container { width:100%; margin:0 10px }
    
    #container>h1 {
        font-size:2rem;
        padding:10px 0;
    }
    
    #container>p {
        padding:10px;
    }

    
    .outbox { width:100%; flex-wrap: wrap }

    .inbox {
        width:100%;
        margin-right:0px;
    }

    .inbox>img{
        width:100%; display:block;
        margin-top:20px;
    }


    .inbox>h2 {
        font-size:1.5rem;
        padding:10px 0;
    }

    .inbox>p {
        padding:0;
    }
    
    .button{
        font-size:.8rem;
        border:none; border-radius:10px;
        margin:20px 0;
        padding:6px;
    }

    
}  /* @media screen */


